<app-menu></app-menu>
<app-list-item></app-list-item>
<div class="container">
  <form class="form" novalidate>
    <div class="form-group">
      <input type="text" [(ngModel)]="newItem.name" name="name" class="form-control" placeholder="Nom et prénom">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="newItem.reference" name="reference" class="form-control" placeholder="ex : 1234">
    </div>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="newItem.state" name="state">
        <option [ngValue]="0">A livrer</option>
        <option [ngValue]="1">En cours de livraison</option>
        <option [ngValue]="2">Commande livrée</option>
      </select>
    </div>
    <button type="submit" (click)="addItem()" class="btn btn-primary">Envoyer</button>
  </form>
</div>
